.card.swiper-slide
    a.card__img(href="item.html")
        img(src="images/catalog/2/1.png", alt="")
    .card__info
        .card__art Артикул: LV-760K черный

        a.card__name(href="item.html") LEVEL 760K

        .card__colors
            span(style="background: #606060")
            span(style="background: #EEE6D9")
            span(style="background: #FFFFFF")
            span(style="background: #576069")
            span(style="background: #FCF5E4")

        .card__chars
            .card__char Материал: мрамор
            .card__char Общий размер: 760 х 500 мм

        .card__price 6 900 руб.

.card.swiper-slide
    a.card__img(href="item.html")
        img(src="images/catalog/2/2.png", alt="")
    .card__info
        .card__art Артикул: LV-760K черный

        a.card__name(href="item.html") LEVEL 760K


        .card__colors
            span(style="background: #606060")
            span(style="background: #EEE6D9")
            span(style="background: #FFFFFF")
            span(style="background: #576069")
            span(style="background: #FCF5E4")

        .card__chars
            .card__char Материал: мрамор
            .card__char Общий размер: 760 х 500 мм

        .card__price 6 900 руб.


.card.swiper-slide
    a.card__img(href="item.html")
        img(src="images/catalog/2/1.png", alt="")
    .card__info
        .card__art Артикул: LV-760K черный

        a.card__name(href="item.html") LEVEL 760K


        .card__colors
            span(style="background: #606060")
            span(style="background: #EEE6D9")
            span(style="background: #FFFFFF")
            span(style="background: #576069")
            span(style="background: #FCF5E4")

        .card__chars
            .card__char Материал: мрамор
            .card__char Общий размер: 760 х 500 мм

        .card__price 6 900 руб.


.card.swiper-slide
    a.card__img(href="item.html")
        img(src="images/catalog/2/2.png", alt="")
    .card__info
        .card__art Артикул: LV-760K черный

        a.card__name(href="item.html") LEVEL 760K


        .card__colors
            span(style="background: #606060")
            span(style="background: #EEE6D9")
            span(style="background: #FFFFFF")
            span(style="background: #576069")
            span(style="background: #FCF5E4")

        .card__chars
            .card__char Материал: мрамор
            .card__char Общий размер: 760 х 500 мм

        .card__price 6 900 руб.


.card.swiper-slide
    a.card__img(href="item.html")
        img(src="images/catalog/2/1.png", alt="")
    .card__info
        .card__art Артикул: LV-760K черный

        a.card__name(href="item.html") LEVEL 760K


        .card__colors
            span(style="background: #606060")
            span(style="background: #EEE6D9")
            span(style="background: #FFFFFF")
            span(style="background: #576069")
            span(style="background: #FCF5E4")

        .card__chars
            .card__char Материал: мрамор
            .card__char Общий размер: 760 х 500 мм

        .card__price 6 900 руб.
        
.card.swiper-slide
    a.card__img(href="item.html")
        img(src="images/catalog/2/2.png", alt="")
    .card__info
        .card__art Артикул: LV-760K черный

        a.card__name(href="item.html") LEVEL 760K


        .card__colors
            span(style="background: #606060")
            span(style="background: #EEE6D9")
            span(style="background: #FFFFFF")
            span(style="background: #576069")
            span(style="background: #FCF5E4")

        .card__chars
            .card__char Материал: мрамор
            .card__char Общий размер: 760 х 500 мм

        .card__price 6 900 руб.