.filters__wrap
    form.filters
        .filter-mobTitle 
            span Фильтрация

            svg.close-mobTitle(width="24" height="24")
                use(xlink:href="images/sprite.svg#cross-bold")

        .filter.deskTypeOfProduct
            .filter__title
                span Тип товара

                

            .filter__wrap
                label.filter__item
                    input(type="radio", name="type")
                    a.filter__vis(href="catalog1.html")
                        img(src="images/filters/sink.svg")
                        span Мойки
                label.filter__item
                    input(type="radio", name="type")
                    a.filter__vis(href="catalog2.html")
                        img(src="images/filters/faucet.svg")
                        span Смесители
                label.filter__item
                    input(type="radio", name="type" checked)
                    a.filter__vis(href="catalog3.html")
                        img(src="images/filters/soap.svg")
                        span Аксессуары

        .filter.deskPrice
            .filter__title
                span Цена


            .filter__wrap.priceWrap
                .filter__priceInputs
                    .filter__priceInput
                        span от
                        input.priceMin(type="text" value="2600") 
                        span ₽
                    .filter__priceInput
                        span до
                        input.priceMax(type="text" value="265500") 
                        span ₽

                .filter__price(data-min="2600", data-max="265500")


        

        .filter
            .filter__title
                span Под фильтр
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")
            .filter__wrap
                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Дозаторы
                        sup (411)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Сифоны
                        sup (325)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Ролл-мат
                        sup (225)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Коландер
                        sup (125)

        .filter.mobPrice
            .filter__title
                span Цена


            .filter__wrap.priceWrap
                .filter__priceInputs
                    .filter__priceInput
                        span от
                        input.priceMin(type="text" value="2600") 
                        span ₽
                    .filter__priceInput
                        span до
                        input.priceMax(type="text" value="265500") 
                        span ₽

                .filter__price(data-min="2600", data-max="265500")



        .filter__submit
            .btn.btn--blue Применить фильтры