.filters__wrap
    form.filters
        .filter-mobTitle 
            span Фильтрация

            svg.close-mobTitle(width="24" height="24")
                use(xlink:href="images/sprite.svg#cross-bold")
    

        .filter.deskTypeOfProduct
            .filter__title
                span Тип товара

                

            .filter__wrap
                label.filter__item
                    input(type="radio", name="type" checked)
                    a.filter__vis(href="catalog1.html")
                        img(src="images/filters/sink.png")
                        span Мойки
                label.filter__item
                    input(type="radio", name="type")
                    a.filter__vis(href="catalog2.html")
                        img(src="images/filters/faucet.png")
                        span Смесители
                label.filter__item
                    input(type="radio", name="type")
                    a.filter__vis(href="catalog3.html")
                        img(src="images/filters/soap.png")
                        span Аксессуары

        .filter.deskPrice
            .filter__title
                span Цена


            .filter__wrap.priceWrap
                .filter__priceInputs
                    .filter__priceInput
                        span от
                        input.priceMin(type="text" value="2600") 
                        span ₽
                    .filter__priceInput
                        span до
                        input.priceMax(type="text" value="265500") 
                        span ₽

                .filter__price(data-min="2600", data-max="265500")

        .filter
            .filter__title
                span Форма
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")
            .filter__wrap.filter__hor
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form1")
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form2")
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form3")
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form4")
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form5")
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form6")
                label.filter__item
                    input(type="checkbox", name="form")
                    svg(width="51" height="50")
                        use(xlink:href="images/sprite.svg#form7")


        .filter
            .filter__title
                span Кухонный блок
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")

            .filter__wrap.filter__hor.filter__blockType
                label.filter__item
                    input(type="checkbox", name="block")
                    span.filter__number 400
                label.filter__item
                    input(type="checkbox", name="block")
                    span.filter__number 450
                label.filter__item
                    input(type="checkbox", name="block")
                    span.filter__number 500
                label.filter__item
                    input(type="checkbox", name="block")
                    span.filter__number 600
                label.filter__item
                    input(type="checkbox", name="block")
                    span.filter__number 800
                label.filter__item
                    input(type="checkbox", name="block")
                    span.filter__number 900



        .filter
            .filter__title
                span Материал
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")
            .filter__wrap
                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Кварц
                        sup (411)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Мрамор
                        sup (325)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Нержавеющая сталь
                        sup (450)

        .filter
            .filter__title
                span Цвет
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")
            .filter__wrap.filter__hor
                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #606060;")

                label.filter__item.colorFilter(data-color="Бежевый")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #EEE6D9;")

                label.filter__item.colorFilter(data-color="Белый")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #FFFFFF;")

                label.filter__item.colorFilter(data-color="Серый")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #576069;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #FCF5E4;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #97AAA4;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #ECF0ED;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #B5A59B;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #BA8A74;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #8A987D;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #F1DCCA;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #C2C0C2;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #999999;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #27375A;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #BEBBB2;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #0C0C0C;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #5D2E21;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #DDD7C9;")

                label.filter__item.colorFilter(data-color="Графит")
                    input(type="checkbox", name="color")
                    span.filter__color(style="background: #67605C;")

        .filter
            .filter__title
                span Серия
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")
            .filter__wrap
                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span GranFest
                        sup (411)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span GranFest QUARZ
                        sup (325)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span GranFest URBAN
                        sup (120)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span GranFest SMART
                        sup (225)

        .filter
            .filter__title
                span Способ монтажа
                svg.close-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#close-filter")
                svg.open-filter(width="14" height="14")
                    use(xlink:href="images/sprite.svg#arr-d")
            .filter__wrap
                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Классический врезной
                        sup (511)

                label.filter__item.filter__checkbox
                    input(type="checkbox", name="material")
                    .filter__checkbox-square
                    .filter__checkbox-text
                        span Подстольный
                        sup (658)

        .filter.mobPrice
            .filter__title
                span Цена


            .filter__wrap.priceWrap
                .filter__priceInputs
                    .filter__priceInput
                        span от
                        input.priceMin(type="text" value="2600") 
                        span ₽
                    .filter__priceInput
                        span до
                        input.priceMax(type="text" value="265500") 
                        span ₽

                .filter__price(data-min="2600", data-max="265500")


        .filter__submit
            .btn.btn--blue Применить фильтры


