.mob-menu-fixed
    .mmf-inner
        a.mmf-item
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#search")
            span Главная
        a.mmf-item
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#catalog")
            span Каталог
        a.mmf-item
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#phone")
            span Контакты
        a.mmf-item
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#person")
            span Авторизация