.mob-menu-fixed
    .mmf-inner
        a.mmf-item(href="index.html")
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#home")
            span Главная
        a.mmf-item(href="catalog.html")
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#catalog")
            span Каталог
        a.mmf-item(href="contacts.html")
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#phone")
            span Контакты
        a.mmf-item
            svg(width="24" height="24")
                use(xlink:href="images/sprite.svg#person")
            span Авторизация