.related.wrapper
    .section-title__wrap
        h2.section-title С этим товаром покупают

        .section-title__arrs
            svg.arr-l(width="44" height="44")
                use(xlink:href="images/sprite.svg#slider-arr-l")
            svg.arr-r(width="44" height="44")
                use(xlink:href="images/sprite.svg#slider-arr-r")

    .swiper
        .swiper-wrapper
            include cards2
