doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header2
            

            main.main-page

                include ../layout/catalog/catalog1
          

            include ../layout/footer.pug
