doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header3
            

            main.main-page

                include ../layout/catalog/catalog3
          

            include ../layout/footer.pug
            
        include ../components/mob-menu.pug
        include ../components/mob-menu-fixed
