doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.contacts-page
        
            include ../layout/header
            

            main.main-page

                include ../layout/contacts
          

            include ../layout/footer.pug
            
        include ../components/mob-menu.pug
        include ../components/mob-menu-fixed
