doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header

            main.main-page
                include ../layout/main-screen

                include ../layout/main-catalog

                include ../layout/main-slider

                include ../layout/main-blog


          

            include ../layout/footer.pug

    

        include ../components/mob-menu.pug

