doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.main-page
        
            include ../layout/header

            main.item-page

                include ../layout/item.pug

            include ../layout/footer.pug

        include ../components/mob-menu.pug