doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .container.legal-page
        
            include ../layout/header2
            

            main.main-page

                include ../layout/legal
          

            include ../layout/footer.pug

        include ../components/mob-menu.pug
        include ../components/mob-menu-fixed
