footer.footer
    .footer__inner.wrapper
        .footer__cols
            .footer__col.footer__contacts
                .footer__title
                    img(src="images/footer/logo-w.svg", alt="Logo")
                .footer__item
                    span.footer__item-icon
                        svg(width="24" height="24")
                            use(xlink:href="images/sprite.svg#tel-w")
                    span.footer__item-text
                        a(href="tel:+7 (800) 101-81-45") +7 (800) 101-81-45 (опт)
                        a(href="tel:+7 (926) 907-79-84") +7 (926) 907-79-84 (розница)
                .footer__item
                    span.footer__item-icon
                        svg(width="24" height="24")
                            use(xlink:href="images/sprite.svg#mail-w")
                    span.footer__item-text 
                        a(href="mailto:info@granfest.net") info@granfest.net


                .footer__item
                    span.footer__item-icon
                        svg(width="24" height="24")
                            use(xlink:href="images/sprite.svg#mapdot-w")
                    span.footer__item-text 
                        a(href="") Москва, ул. Золоторожский Вал, 8, ст. м. Площадь Ильича / ст. м. Римская
                    




            .footer__col
                .footer__title Каталог

                a(href="").footer__item Мойки
                a(href="").footer__item Смесители
                a(href="").footer__item Аксессуары
                a(href="").footer__item Скачать каталог
                
            .footer__col
                .footer__title О компании

                a(href="").footer__item Новости
                a(href="").footer__item Блог
                a(href="").footer__item Сертификаты
                a(href="").footer__item Политика компании
                a(href="").footer__item Контакты
                
            .footer__col.spacer
            .footer__col
                .footer__title Покупателям

                a(href="").footer__item Акции
                a(href="").footer__item Интернет-магазин
                a(href="").footer__item Сервис
                a(href="").footer__item Полезная информация

                
            .footer__col
                .footer__title Партнерам

                a(href="").footer__item Стать партнером
                a(href="").footer__item Дилерская сеть


        .footer__soc
            .footer__icons
                a(href="" target="_blank")
                    svg(width="28" height="28")
                        use(xlink:href="images/sprite.svg#tg")

                a(href="" target="_blank")
                    svg(width="28" height="28")
                        use(xlink:href="images/sprite.svg#vk")

                a(href="" target="_blank")
                    svg(width="33" height="32")
                        use(xlink:href="images/sprite.svg#yt")

                a(href="" target="_blank")
                    svg(width="25" height="24")
                        use(xlink:href="images/sprite.svg#dzen")

                a(href="" target="_blank")
                    svg(width="24" height="24")
                        use(xlink:href="images/sprite.svg#mailru")

            .footer__subscribe
                form(id="subscribe-form")
                    label.input-wrap
                        input(type="text", name="email", placeholder="ПОДПИСАТЬСЯ НА РАССЫЛКУ", data-required)
                    button.footer__subscribe-btn(type="submit")
                        svg(width="30" height="30")
                            use(xlink:href="images/sprite.svg#arr-thin")


        .footer__bottom 2023 © GranFest Все права защищены.


.modal
    .modal__content
        .modal__close-cross.modal__close
        .modal__content-inner


.modal__templates.hidden

    .callback
        .callback__modal
            h2.modal__header Заказать в один клик

            form.modal__form(id="callback-form" method="post")

                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="name" placeholder="ФИО*" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="phone" placeholder="Номер телефона *" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="mail" placeholder="Электронная почта" )
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="comment" placeholder="Ваш комментарий" )

                label.policy__checkbox
                    input.policy__checkbox-input(type="checkbox")
                    .policy__checkbox-square
                        span.policy__checkbox-checkmark
                    .policy__checkbox-text Я согласен с <a href="/policy.html" target="_blank">политикой обработки конфиденциальных данных</a>
                    span.policy-err
                .modal__submit-wrap
                    input.modal__submit.modal__btn.btn.btn--blue(type="submit" value="Отправить данные")


    .order
        .order__modal
            h2.modal__header Заказать в один клик

            form.modal__form(id="order-form" method="post")

                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="name" placeholder="ФИО*" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="phone" placeholder="Номер телефона *" data-required)
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="mail" placeholder="Электронная почта" )
                label.modal__input-wrap.input-wrap
                    input.modal__input.inp(type="text" name="comment" placeholder="Ваш комментарий" )

                label.policy__checkbox
                    input.policy__checkbox-input(type="checkbox")
                    .policy__checkbox-square
                        span.policy__checkbox-checkmark
                    .policy__checkbox-text Я согласен с <a href="/policy.html" target="_blank">политикой обработки конфиденциальных данных</a>
                    span.policy-err
                .modal__submit-wrap
                    input.modal__submit.modal__btn.btn.btn--blue(type="submit" value="Отправить данные")





    .thanksOrder
        .thanksOrder__modal
            img.modal__img(src="images/modal/green-check.png")
            h2.modal__header Ваша заявка принята!
            p.modal__text Менеджер магазина свяжется с вами в ближайшее время.
            a.modal__btn.btn.btn--blue(href="/") На главную

    .thanksCallback
        .thanksCallback__modal
            img.modal__img(src="images/modal/green-check.png")
            h2.modal__header Ваш запрос принят!
            p.modal__text Сотрудник компании ответит вам в ближайшее время
            a.modal__btn.btn.btn--blue(href="/") На главную

    .thanksSubscribe
        .thanksSubscribe__modal
            img.modal__img(src="images/modal/green-check.png")
            h2.modal__header Спасибо, что остаетесь с нами!
            p.modal__text Рассылка позволит Вам быть в курсе всех новостей и акций.
            a.modal__btn.btn.btn--blue(href="/") На главную



    a.thanksCallbackLink(data-modal="thanksCallback")
    a.thanksOrderLink(data-modal="thanksOrder")
    a.thanksSubscribeLink(data-modal="thanksSubscribe")




script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollToPlugin.min.js")
 
 
script(src="libs/swiper-bundle.min.js")
script(src="libs/nouislider.min.js")
script(src="libs/imask.js")
script(src="libs/fslightbox.js")
script(src="scripts/main.js")
