section.main-screen(style="background-image: url('images/main-screen/1.png');")
    .main-screen__info
        .wrapper
            h1 GranFest
            h3 Комфорт и функциональность современной кухни
            a.btn.btn--white.openFilters Подобрать мойку

    

   
