section.main-slider.wrapper

    .main-slider__inner.swiper
        .swiper-wrapper
            .main-slider__slide.swiper-slide.m-slide
                .m-slide__img
                    img(src="images/main-catalog/1.png", alt="")

                .m-slide__info
                    h3.m-slide__title Распродажа кухонных моек
                    p.m-slide__subtitle Более 38 моделей по невероятной цене. Количество ограничено

                    .btn.btn--white Посмотреть модели


            .main-slider__slide.swiper-slide.m-slide
                .m-slide__img
                    img(src="images/main-catalog/1.png", alt="")

                .m-slide__info
                    h3.m-slide__title Распродажа кухонных моек
                    p.m-slide__subtitle Более 38 моделей по невероятной цене. Количество ограничено

                    .btn.btn--white Посмотреть модели


            .main-slider__slide.swiper-slide.m-slide
                .m-slide__img
                    img(src="images/main-catalog/1.png", alt="")

                .m-slide__info
                    h3.m-slide__title Распродажа кухонных моек
                    p.m-slide__subtitle Более 38 моделей по невероятной цене. Количество ограничено

                    .btn.btn--white Посмотреть модели

        .swiper-pagination
