section.main-blog.wrapper 
    .section-title__wrap
        .section-title Блог
        .section-title__link
            +more('Читать все статьи', '')


    .main-blog__inner.swiper
        .swiper-wrapper
            article.main-blog__item.swiper-slide
                .main-blog__img
                    img(src="images/main-blog/1.png", alt="")
                span.main-blog__theme Мойки
                h4.main-blog__title Как правильно установить мойку подстольного монтажа
                p.main-blog__preview(data-crop="80") Монтаж мойки – это довольно сложная задача, которая обычно требует специальных навыков. Мастер учтет особенности вашей столешницы, предусмотрит возможные риски и установит мойку с соблюдением всех правил.
                +more('Читать статью', '')

            article.main-blog__item.swiper-slide
                .main-blog__img
                    img(src="images/main-blog/2.png", alt="")
                span.main-blog__theme Советы дизайнеров
                h4.main-blog__title Как правильно установить мойку подстольного монтажа
                p.main-blog__preview(data-crop="80") Чтобы кухня была по-настоящему функциональной, а выполнение кулинарных задач приносило только удовольствие, при организации пространства важно тщательно продумать все тонкости.
                +more('Читать статью', '')

            article.main-blog__item.swiper-slide
                .main-blog__img
                    img(src="images/main-blog/3.png", alt="")
                span.main-blog__theme Какую мойку выбирать
                h4.main-blog__title Как правильно установить мойку подстольного монтажа
                p.main-blog__preview(data-crop="80") Мойка является настоящим сердцем кухни. Если вы подобрали мойку правильно, она сможет обеспечить комфорт при выполнении кухонных задач и даже сэкономить ваше время
                +more('Читать статью', '')

        .swiper-pagination
