section.main-catalog.wrapper

    h2.section-title Каталог товаров

    .main-catalog__tiles
        a.main-catalog__tile(href="catalog1.html")
            span Мойки
            img(src="images/main-catalog/2.png", alt="")
        a.main-catalog__tile(href="catalog2.html")
            span Смесители
            img(src="images/main-catalog/3.png", alt="")
        a.main-catalog__tile(href="catalog3.html")
            span Аксессуары
            img(src="images/main-catalog/4.png", alt="")




