
.breadcrumbs.wrapper 
    a(href="../").breadcrumbs__item Главная 
    span.breadcrumbs__divider /
    a(href="#").breadcrumbs__item Каталог
    span.breadcrumbs__divider /
    a.breadcrumbs__item Смесители


.catalog.wrapper
   

    .filters__wrap
        form.filters
        

            .filter
                .filter__title
                    span Тип товара

                    

                .filter__wrap
                    label.filter__item
                        input(type="radio", name="type")
                        a.filter__vis(href="catalog1.html")
                            img(src="images/filters/sink.svg")
                            span Мойки
                    label.filter__item
                        input(type="radio", name="type" checked)
                        a.filter__vis(href="catalog2.html")
                            img(src="images/filters/faucet.svg")
                            span Смесители
                    label.filter__item
                        input(type="radio", name="type")
                        a.filter__vis(href="catalog3.html")
                            img(src="images/filters/soap.svg")
                            span Аксессуары

            .filter
                .filter__title
                    span Цена


                .filter__wrap.priceWrap
                    .filter__priceInputs
                        .filter__priceInput
                            span от
                            input.priceMin(type="text" value="2600") 
                            span ₽
                        .filter__priceInput
                            span до
                            input.priceMax(type="text" value="265500") 
                            span ₽

                    .filter__price(data-min="2600", data-max="265500")



            .filter
                .filter__title
                    span Форма
                    svg.close-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#close-filter")
                    svg.open-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#arr-d")
                .filter__wrap.filter__hor
                    label.filter__item
                        input(type="checkbox", name="form")
                        svg(width="40" height="40")
                            use(xlink:href="images/sprite.svg#form8")
                    label.filter__item
                        input(type="checkbox", name="form")
                        svg(width="40" height="40")
                            use(xlink:href="images/sprite.svg#form9")
                    label.filter__item
                        input(type="checkbox", name="form")
                        svg(width="40" height="40")
                            use(xlink:href="images/sprite.svg#form10")
                    label.filter__item
                        input(type="checkbox", name="form")
                        svg(width="40" height="40")
                            use(xlink:href="images/sprite.svg#form11")
                    label.filter__item
                        input(type="checkbox", name="form")
                        svg(width="40" height="40")
                            use(xlink:href="images/sprite.svg#form12")




            .filter
                .filter__title
                    span Под фильтр
                    svg.close-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#close-filter")
                    svg.open-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#arr-d")
                .filter__wrap
                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span Да
                            sup (411)

                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span Нет
                            sup (325)

            .filter
                .filter__title
                    span Цвет
                    svg.close-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#close-filter")
                    svg.open-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#arr-d")
                .filter__wrap.filter__hor
                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #606060;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #EEE6D9;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #FFFFFF;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #576069;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #FCF5E4;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #97AAA4;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #ECF0ED;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #B5A59B;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #BA8A74;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #8A987D;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #F1DCCA;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #C2C0C2;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #999999;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #27375A;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #BEBBB2;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #0C0C0C;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #5D2E21;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #DDD7C9;")

                    label.filter__item
                        input(type="checkbox", name="color")
                        span.filter__color(style="background: #67605C;")

            .filter
                .filter__title
                    span Серия
                    svg.close-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#close-filter")
                    svg.open-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#arr-d")
                .filter__wrap
                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span GranFest
                            sup (411)

                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span GranFest QUARZ
                            sup (325)

                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span GranFest SMART
                            sup (225)

            .filter
                .filter__title
                    span Выдвижной слив
                    svg.close-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#close-filter")
                    svg.open-filter(width="14" height="14")
                        use(xlink:href="images/sprite.svg#arr-d")
                .filter__wrap
                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span Да
                            sup (511)

                    label.filter__item.filter__checkbox
                        input(type="checkbox", name="material")
                        .filter__checkbox-square
                        .filter__checkbox-text
                            span Нет
                            sup (658)


            .filter__submit
                .btn.btn--blue Применить фильтры



    
    .catalog__wrap

        .catalog__filters
            .catalog__search
                span.search-btn
                    svg(width="24" height="24")
                        use(xlink:href="images/sprite.svg#search")
                input.search-input(type="text", name="search", placeholder="Введите название товара....")

            .catalog__sort-wrap
                .catalog__sort
                    svg(width="18" height="18")
                        use(xlink:href="images/sprite.svg#sort")

                    span.curr-sort По популярности
                    svg.sort-arr-d(width="24" height="24")
                        use(xlink:href="images/sprite.svg#arr-d")

                .catalog__choose-sorts
                    span.catalog__choose-sort По популярности
                    span.catalog__choose-sort Сначала дешевые
                    span.catalog__choose-sort Сначала дорогие
                    span.catalog__choose-sort По названию (А-Я)


        .catalog__active-filters
            .active-filter
                span Классический врезной
                svg.close-active-filter(width="10" height="10")
                    use(xlink:href="images/sprite.svg#active-filter-close")
                    
            .active-filter
                span 400
                svg.close-active-filter(width="10" height="10")
                    use(xlink:href="images/sprite.svg#active-filter-close")

            

        .catalog__list
            include ../../components/cards2
            include ../../components/cards2
 
        include ../../components/pag



