
.breadcrumbs.wrapper 
    a(href="../").breadcrumbs__item Главная 
    span.breadcrumbs__divider /
    a(href="#").breadcrumbs__item Каталог
    span.breadcrumbs__divider /
    a.breadcrumbs__item Аксессуары


.catalog.wrapper
   

    include ../../components/filters3
    
    .catalog__wrap
        include ../../components/filtersMob

        .catalog__filters
            .catalog__search
                span.search-btn
                    svg(width="24" height="24")
                        use(xlink:href="images/sprite.svg#search")
                input.search-input(type="text", name="search", placeholder="Введите название товара....")

            .catalog__sort-wrap
                .catalog__sort
                    svg(width="18" height="18")
                        use(xlink:href="images/sprite.svg#sort")

                    span.curr-sort По популярности
                    svg.sort-arr-d(width="24" height="24")
                        use(xlink:href="images/sprite.svg#arr-d")

                .catalog__choose-sorts
                    span.catalog__choose-sort По популярности
                    span.catalog__choose-sort Сначала дешевые
                    span.catalog__choose-sort Сначала дорогие
                    span.catalog__choose-sort По названию (А-Я)


        .catalog__active-filters
            .active-filter
                span Классический врезной
                svg.close-active-filter(width="10" height="10")
                    use(xlink:href="images/sprite.svg#active-filter-close")
                    
            .active-filter
                span 400
                svg.close-active-filter(width="10" height="10")
                    use(xlink:href="images/sprite.svg#active-filter-close")

            

        .catalog__list
            include ../../components/cards3
            include ../../components/cards3


        include ../../components/pag



